.devto, .instagram, .github, .gitlab, .twitter {
  fill: #BABABA;
}

.devto:hover {
  fill: #000000;
}

.instagram:hover {
  fill: #e1306c;
}

.github:hover {
  fill: #6cc644;
}

.gitlab:hover {
  fill: #FC6D26;
}

.twitter:hover {
  fill: #1da1f2;
}
