  <footer id="footer">
    <nav>
      <ul>
        <li><span>vlvrd</span></li>
        <!--
        <li>
          <a href="/company/">Company</a>
        </li>
        -->
        <li>
          <a href="/blog/">Blog</a>
        </li>
        <!--
          <li>
          <a href="/docs/">Docs</a>
        </li>
        -->
        <li>
          <a href="https://instagram.com/{{.Site.Params.instagram}}">Instagram</a>
          <a href="https://open.spotify.com/user/{{.Site.Params.spotify}}">Spotify</a>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Twitter</a>
        </li>
      </ul>
    </nav>
    <!--
    <p>&copy; Licence MIT.</p>
    -->
  </footer>
